/* styling for the whole calendar widget */

* {
    font-family: Lato, Arial, Helvetica, sans-serif !important;
}

.ui-datepicker {
    border-radius: 0% !important;
    padding:10px !important;
}

/* ------------------------------ CALENDAR HEADER --------------------------- */
/* calendar header */
.ui-datepicker .ui-datepicker-header {
    border: none !important;
    border-radius: 0% !important;
    background: none !important;
    font-size: 16px;
}

/* ------------------------------ CALENDAR BODY --------------------------- */

/* calendar body */
.ui-datepicker table {
    table-layout: fixed;
}

/* Weekdays (table header) */
.ui-datepicker th {
    font-weight:normal !important;
    font-size:11px;
}

.ui-datepicker-calendar >tbody > tr > td > * {
    margin: auto;
    width:16px;
    border-width:0;
    border-radius: 50%;
    text-align: center;
    vertical-align:middle;
}

.ui-state-disabled, .ui-state-active, .ui-state-default, .ui-state-disabled, .ui-state-hover {
    border:none !important;
    background:none !important;
}

.ui-state-hover > * {
    background-color:#ccc !important;
}

.ui-state-active > * {

}

/* Current day (cell) */
.ui-datepicker-today > * {
    background-color:black !important;
    color:white !important;
}

/* Current week starting on Today */
.ui-datepicker-current-day > * {
    background-color:hsl(261, 53%, 47%) !important;
    color:white !important;
    background-color:hsl(261, 53%, 23%) !important;
}

.ui-datepicker-current-day



/* Applies to Current date cell? */
.ui-datepicker-days-cell-over > * {

}

/* Unselectable cells (past dates and dates from next month) */
.ui-datepicker-unselectable {

}

.ui-state-default {

}

.ui-state-active {

}

.ui-state-highlight {

}

/* weekend columns (Sat & Sun) */
.ui-datepicker-week-end {

}

