/* styling for the whole calendar widget */

div.healcode a {
    color: #fff;
}

.ui-datepicker {
    border-radius: 0% !important;
    padding:10px !important;
    width: 50% !important;
}

/* ------------------------------ CALENDAR HEADER --------------------------- */
/* calendar header */
.ui-datepicker-header {
    border: none !important;
    border-radius: 0% !important;
    background: none !important;
    font-size: 16px !important;
}

/* ------------------------------ CALENDAR BODY --------------------------- */

/* calendar body */
.ui-datepicker table {
    table-layout: fixed;
}

/* Weekdays (table header) */
.ui-datepicker th {
    font-weight:normal;
    font-size:11px;
}

.ui-datepicker-calendar >tbody > tr > td {
    padding:auto;
    vertical-align:middle;
}

.ui-datepicker-calendar >tbody > tr > td > * {
    margin-top:auto;
    margin-bottom:auto;
    height:24px;
    width:24px;
    border-width:0;
    border-radius: 50%;
    text-align: center !important;
    vertical-align:middle !important;
}

.ui-state-disabled, .ui-state-active, .ui-state-default, .ui-state-disabled, .ui-state-hover {
    border:none !important;
    background:none !important;
}

.ui-state-hover > * {
    background-color:#ccc !important;
}

.ui-state-active > * {

}

/* Current day (cell) */
.ui-datepicker-today > * {
    font-weight:bold !important;
}

/* Current week starting on Today */
.ui-datepicker-current-day > * {
    background-color:black) !important;
    color:white !important;
}

/* Applies to Current date cell? */
.ui-datepicker-days-cell-over > * {

}

/* Unselectable cells (past dates and dates from next month) */
.ui-datepicker-unselectable {

}

.ui-state-default {

}

.ui-state-active {

}

.ui-state-highlight {

}

/* weekend columns (Sat & Sun) */
.ui-datepicker-week-end {

}

